---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/invalid_key?apikey=<ACCUWEATHER_API_KEY>&details=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1'
      Ratelimit-Remaining:
      - '249'
      Akamai-Grn:
      - 0.129eca17.1696701215.8a3430b3
    body:
      encoding: ASCII-8BIT
      string: '{"Code":"400","Message":"Invalid location key: invalid_key","Reference":"/currentconditions/v1/invalid_key"}'
  recorded_at: Sat, 07 Oct 2023 17:53:36 GMT
recorded_with: VCR 6.2.0
