---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/294021?apikey=<ACCUWEATHER_API_KEY>&details=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '16'
      Akamai-Grn:
      - 0.089eca17.1696522974.81acf21b
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-10-05T19:13:00+03:00","EpochTime":1696522380,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":10.0,"Unit":"C","UnitType":17},"Imperial":{"Value":50.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Thu, 05 Oct 2023 16:22:55 GMT
recorded_with: VCR 6.2.0
